<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>id</key>
		<integer>1</integer>
		<key>nombre</key>
		<string>Juan</string>
		<key>points</key>
		<integer>500</integer>
		<key>score</key>
		<integer>5000</integer>
		<key>time</key>
		<string>1:13</string>
		<key>wrongMoves</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>id</key>
		<integer>2</integer>
		<key>nombre</key>
		<string>Maria</string>
		<key>points</key>
		<integer>400</integer>
		<key>score</key>
		<integer>4000</integer>
		<key>time</key>
		<string>2:00</string>
		<key>wrongMoves</key>
		<integer>5</integer>
	</dict>
	<dict>
		<key>id</key>
		<string>3</string>
		<key>nombre</key>
		<string>Pedro</string>
		<key>points</key>
		<string>300</string>
		<key>score</key>
		<string>3000</string>
		<key>time</key>
		<string>2:30</string>
		<key>wrongMoves</key>
		<string>10</string>
	</dict>
</array>
</plist>
